[transport-udp]
type=transport
protocol=udp
bind=0.0.0.0:5060

[zadarma-reg]
type=registration
outbound_auth=zadarma
server_uri=sip:sip.zadarma.com
client_uri=sip:${ZADARMA_SIP_NUMBER}@sip.zadarma.com
retry_interval=60
forbidden_retry_interval=600
expiration=120
line=yes
endpoint=zadarma

[zadarma]
type=auth
auth_type=userpass
username=${ZADARMA_SIP_NUMBER}
password=${ZADARMA_SIP_PASSWORD}

[zadarma]
type=aor
contact=sip:sip.zadarma.com:5060
qualify_frequency=60

[zadarma]
type=identify
endpoint=zadarma
match=sip.zadarma.com

[zadarma]
type=endpoint
context=from-zadarma
disallow=all
allow=ulaw
allow=alaw
outbound_auth=zadarma
aors=zadarma
from_user=${ZADARMA_SIP_NUMBER}
from_domain=sip.zadarma.com
direct_media=no
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes
language=sk
icesupport=no
